
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Inter', system-ui, sans-serif;
    --background: 250, 22%, 99%;
		--card: 0 0% 100%;
		--primary: 220 87% 40%; /* Correspond au bleu institutionnel #2B6CB0 */
		--primary-foreground: 0 0% 100%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 12px;
  }
  body {
    @apply bg-background text-primary-text font-inter;
    letter-spacing: -0.01em;
  }
  h1 { font-size: 2rem; line-height: 1.2; font-weight: 600; letter-spacing: -0.025em; }
  h2 { font-size: 1.5rem; line-height: 1.2; font-weight: 600; letter-spacing: -0.025em; }
  h3 { font-size: 1.25rem; line-height: 1.2; font-weight: 600; letter-spacing: -0.025em; }
  .card {
    @apply rounded-lg shadow-card border border-border bg-card-bg;
  }
}

::-webkit-input-placeholder { color: #A0AEC0; }
::-moz-placeholder { color: #A0AEC0; }
:-ms-input-placeholder { color: #A0AEC0; }
::placeholder { color: #A0AEC0; }
